<template name="donate">
    <section class="donate toad-full">
        <div class="toad-container">
            <h1>Donate</h1>
            <div class="donate-wrapper">
                <h2>Support us !</h2>
                <a href="https://www.paypal.me/CoddyMe" class="btn-primary" data-text="Paypal" target="_blank">Paypal</a>
                <form action="https://www.coinpayments.net/index.php" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_donate">
                <input type="hidden" name="reset" value="1">
                <input type="hidden" name="merchant" value="6131a266d1a1e29d496614df2551369f">
                <input type="hidden" name="item_name" value="Donate">
                <input type="hidden" name="currency" value="USD">
                <input type="hidden" name="amountf" value="10.00000000">
                <input type="hidden" name="allow_amount" value="1">
                <input type="hidden" name="want_shipping" value="0">
                <input type="hidden" name="allow_extra" value="0">
                <button href="javascript:void(0)" class="btn-primary" data-text="Cryptocurrency">Cryptocurrency</button>
            </form>
            </div>
        </div>
    </section>
</template>