<template name="header">
    <div class="header-wrapper toad-container">
        <div class="logo-wrapper">
            <a href="{{pathFor route='home'}}">
                <img src="/img/logo-svg.svg" class="logo">
            </a>
        </div>
        <nav class="nav" role="navigation">
            <a href="{{pathFor route='home'}}">Home</a>
            <a href="{{pathFor route='start'}}">Start</a>
            <a href="{{pathFor route='about'}}">About</a>
            <a href="{{pathFor route='contact'}}">Contact</a>
        </nav>
    </div>
</template>