<template name="legal">
    <section class="legal toad-full">
        <div class="toad-container">
            <h1>Legal</h1>
            <p>
                Les présentes Conditions Générales ont pour objet de prévoir l'ensemble des conditions d'accès et d'utilisation du Site et des Services accessible sous l'adresse <a href="http://coddy.me" class="link">www.coddy.me</a><br/>
            </p>
            <p>
                <strong>Editeur du site :</strong><br/>
                Groupe GDF de IT-Akademy (ci-après « IT-Akademy» ou l' « Editeur »), école numérique ayant son siège 6 Place Charles Hernu, 69100 Villeurbanne - FRANCE
            </p>
            <p>
                <strong>Directeur de publication :</strong><br/>
                Monsieur Jérémy BONNARD
            </p>
            <p>
                <strong>Conception / Hébergement / Référencement :</strong><br/>
                Groupe GDF
            </p>
            <p>
                L'ACCES ET L'UTILISATION DU SITE ET DES SERVICES, QU'ILS SOIENT PROPOSES A TITRE GRATUIT OU PAYANT, IMPLIQUENT L'ACCEPTATION SANS RESERVES DES PRESENTES CONDITIONS GENERALES D'UTILISATION ET DE SERVICES (ci-après les « CGUS »), DANS LEURS DERNIERE VERSION, TELLES QU'ACCESSIBLES ET CONSULTABLES SUR LE SITE.<br/>
                Sauf accord express entre les Parties, aucune autre condition générale ou spécifique que celles prévues dans les présentes ne pourra s'intégrer au Contrat.
            </p>
            <p>
                Dans le cas exceptionnel où IT-Akademy accepterait formellement les Conditions Générales d’Achat de l’Utilisateur, ces dernières ne s’appliqueraient que de façon supplétive en cas de disposition non prévue par les CGUS.
            </p>
            <p>
                Les « Utilisateur(s) » sont entendus au sens des présentes comme toute personne physique ou morale se connectant et naviguant sur le site.
            </p>
            <p>
                <strong>Description du site :</strong><br/>
                L'Editeur propose sur le Site une verification du code php fournie par l’utilisateur.
            </p>
            <p>
                Il se réserve en outre la faculté discrétionnaire, à tout moment et sans préavis, d'éditer et de supprimer tout ou partie de ces informations, ainsi que de modifier ou de suspendre temporairement ou définitivement tout ou partie des fonctionnalités et services proposées sur le Site.
            </p>

            <p>
                L'Editeur ne peut en aucun cas être tenu de vérifier la capacité juridique de l'Utilisateur.<br/>
                Aussi, si un Utilisateur ne disposait pas de la capacité juridique et commandait cependant des Services sur le Site, ses responsables légaux devront assumer l'entière responsabilité de ladite commande et notamment en payer le prix.<br/>
                Pour toute question sur le Site et les activités de l'Editeur, les Utilisateurs sont invités à contacter IT-Akademy aux coordonnées figurant en tête des présentes Conditions.<br/><br/>
                <strong>Accès et disponibilité :</strong><br/>
                L'accès au Site est assuré de façon continue et permanente, sauf cas de force majeure ou d'évènements hors du contrôle de l'Editeur, et sous réserve des éventuelles pannes et interventions techniques, de maintenance et de réactualisation nécessaires au bon fonctionnement du Site, chacun de ces évènements étant susceptible d'entraîner une coupure d'accès au Site.<br/>
                Par ailleurs, en raison de la nature même de l'Internet, IT-Akademy ne peut garantir un fonctionnement du Site 24 heures sur 24 et 7 jours sur 7.
            </p>
            <p>
                Ce clic de validation vaut consentement définitif à contracter avec l'Editeur pour les Services sélectionnés, sous réserve de l'exercice du droit de rétractation réservé aux consommateurs, tel que visé sous l'article 4.7 des présentes.<br/>
                L'article L.221-18 du Code de la consommation prévoit que l'Utilisateur dispose d'un délai de 14 jours à compter de la commande d'un service au travers d'un site internet pour exercer son droit de rétractation du contrat ainsi conclu à distance.<br/>
                L'Utilisateur souhaitant se rétracter devra envoyer par courrier au Service client de l'Editeur (cf. adresse en tête des présentes), avant la fin de ce délai de quatorze (14) jours, le cachet de La Poste faisant foi, le formulaire de rétractation téléchargeable sur le Site.<br/><br/>
                A défaut de recourir au formulaire de rétractation mis à sa disposition, le Client pourra également se rétracter au moyen d'une déclaration dénuée d'ambiguïté exprimant sa volonté de se rétracter, qui devra être envoyée à l'Editeur par courrier, avant la fin de ce délai de quatorze (14) jours, le cachet de La Poste faisant foi.<br/>
                Afin d'offrir à l'Utilisateur un délai d'exécution des Services aussi bref que possible, et de lui permettre la délivrance des Documents demandés dans les meilleurs délais suivant sa commande, il lui est demandé, au moment de la validation de sa commande, ainsi que l'article L.221-28 1°) du Code de la consommation le permet :<br/><br/>
                &#9679; d'autoriser l'Editeur à exécuter les Services avant l'expiration du délai de rétractation,<br/><br/>
                &#9679; puis, en conséquence de renoncer au bénéfice de son droit de rétractation.
            </p>
        </div>
    </section>
</template>