<template name="report">
    <section class="report toad-full">
        <div class="toad-container">
            <div class="step-instruction t-10">
                <div class="step-logo">
                    <img src="/img/logo-svg.svg">
                </div>
                <div>
                    <p>Here is your report !
                    </p>
                </div>
            </div>
            <div class="results-wrapper t-10">
                <div class="results-global results t-12"></div>
                <div class="results-details results t-12"></div>
                <div class="results-full results hidden t-12"></div>
            </div>
        </div>
    </section>
</template>