<template name="start">
    <section class="start toad-full">
        <div class="coddy-wrapper">
            <div class="coddy">
                <div class="cogweb"></div>
                <div class="eye eye-left"></div>
                <div class="eye eye-right"></div>
                <div class="paw paw-one"></div>
                <div class="paw paw-two"></div>
                <div class="paw paw-three"></div>
                <div class="paw paw-four"></div>
                <div class="paw paw-five"></div>
                <div class="paw paw-six"></div>
            </div>
        </div>
        <article class="start-wrapper toad-container">
            <div class="start-wrapper-text animated fadeIn">
                <p>Let’s begin !<br>
                    First step, let's login with <strong>Github</strong>
                </p>
            </div>
            <div class="start-wrapper-btn">
                <a href="/api/login/github" class="animated fadeIn link-to-demo btn-primary" data-text="Login">Login</a>
            </div>
        </article>
    </section>
</template>